@charset "UTF-8";


//Default styles

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

// Positioning
.valign-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	.valign {
		display: block;
	}
}

.icon {
	width: 100%;
	height: 100%;
}

// classic clearfix
.clearfix {
	clear: both;
	&:before,
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		float: none;
		clear: both;
	}
}


// Dividers

.divider {
	height: 1px;
	overflow: hidden;
	background-color: color("border", "table-border");
	margin: $gutter-width*2 0;
}


//  Blockquote

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid $red;
}


// Images
img.responsive-img,
video.responsive-video {
	max-width: 100%;
	height: auto;
}
.video-box {
	height: 0;
	padding-bottom: 56.25%;
	iframe, video, object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

img.inline-img {
	max-height: 1.5em;
	vertical-align: middle;
	display: inline-block;
	margin-left: $gutter-width/2;
	&:first-of-type {
		margin-left: $gutter-width;
	}
}


/*********************
  Media Query Classes
**********************/
.hide-on-small-only, .hide-on-small-and-down {
  @media #{$small-and-down} {
    display: none !important;
  }
}
.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  }
}
.hide-on-med-and-up {
  @media #{$medium-and-up} {
    display: none !important;
  }
}
.hide-on-med-only {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: none !important;
  }
}
.hide-on-large-only {
  @media #{$large-and-up} {
    display: none !important;
  }
}
.show-on-large {
  @media #{$large-and-up} {
    display: initial !important;
  }
}
.show-on-medium {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: initial !important;
  }
}
.show-on-small {
  @media #{$small-and-down} {
    display: initial !important;
  }
}
.show-on-medium-and-up {
  @media #{$medium-and-up} {
    display: initial !important;
  }
}
.show-on-medium-and-down {
  @media #{$medium-and-down} {
    display: initial !important;
  }
}


// Center text on mobile
.center-on-small-only {
	@media #{$small-and-down} {
		text-align: center;
	}
}


/*******************
  Utility Classes
*******************/

.hide {
  display: none !important;
}
.bx-touch {
	.hide-on-touch {
		display: none !important;
	}
}

// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right
}
.center-align {
  text-align: center;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}
.nofloat {
	float: none!important;
}
.center {
	float: none;
	margin-right: auto;
	margin-left: auto;
}

// No Text Select
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.circle {
	border-radius: 50%;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-padding {
	padding: 0 !important;
}
.no-g-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-h-padding {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.top-animation {
	will-change: transform;
	transform: translateY(50%);
	opacity: 0;
	transition: transform .6s ease-out, opacity 1s ease-out .1s;
	&.scrolled {
		transform: translateY(0);
		opacity: 1;
	}
}