.projects-list {
	margin-top: 20px;
	margin-bottom: 30px;
	@media #{$medium-and-up}{
		margin-top: 40px;
		margin-bottom: 70px;
	}
	@media #{$large-and-up}{
		margin-top: 45px;
		margin-bottom: 70px;
	}
}
.project-item {
	margin-bottom: 10px;
	@media #{$medium-and-up}{
		margin-bottom: 30px;
	}
	.project-price {
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		z-index: 3;
		font-size: $small-text;
		padding: 1em;
		min-height: 50px;
		background: rgba(255,255,255,.6);
		opacity: 0;
		will-change: opacity;
		transition: opacity .3s ease;
		@media #{$medium-and-up}{
			padding: $base-text;
			right: auto;
		}
	}
	.overlay {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 5;
		background: rgba(59,59,59,.3);
		padding: 25px 30px 20px;
		will-change: opacity;
		opacity: 1;
		transition: opacity .3s ease;
	}
	&.active {
		.project-price {
			opacity: 1;
		}
		.overlay {
			opacity: 0;
			z-index: 0;
		}
	}
}
.card {
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 20px 20px 55px;
	text-align: center;
	will-change: transform;
	transition: transform .3s ease;
	.project-item.active & {
		transform: translateY(-150%);
	}
	@media #{$medium-and-up}{
		padding: 40px 40px 100px;
		max-width: 460px;
		height: auto;
	}
}
.project-info-name {
	font-size: $big-text;
	font-weight: 600;
	text-align: center;
	margin: 0 auto 10px;
	@media #{$medium-and-up}{
		font-size: $xbig-text;
		margin-bottom: 5px;
	}
}