// social
.soc-link {
	display: inline-block;
	width: 42px;
	height: 42px;
	padding: 9px;
	border: 2px solid #fff;
	background: transparent;
	margin: 0 5px;
	border-radius: 50%;
	vertical-align: middle;
	transition: all .3s ease;
	.icon {
		fill: #fff;
	}
	&:hover {
		background: #fff;
		.icon {
			fill: color('blue', 'dark');
		}
	}
}